$space: 1rem;

$space-half: $space * .75;
$space-tiny: $space / 2;

$space-med: $space * 1.5;
$space-big: $space * 2;
$space-huge: $space * 3;

$transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
$transition-duration: 275ms;

@mixin transition($transition-property, $transition-timing-function: $transition-timing-function, $transition-duration: $transition-duration) {
  transition-timing-function: $transition-timing-function;
  transition-duration: $transition-duration;
  transition-property: $transition-property;
}
