/* color defaults */
$color-grey: #F4F8FA;
$color-grey-box-shadow: 20px 20px 60px #cfd3d5, -20px -20px 60px #ffffff;
$color-grey-box-shadow-hover: 23px 23px 90px #cbced0, -23px -23px 90px #ffffff;
$color-lite: #fff;
$color-dark: #000;

/* spacing defaults */
$space: 1rem;
$space-half: $space * .75;
$space-tiny: $space / 2;
$space-med: $space * 1.5;
$space-big: $space * 2;
$space-huge: $space * 3;

/* breakpoint defaults */
$screen-md: 724px;
$screen-lg: 1024px;
$screen-xl: 1224px;
$screen-xxl: 1824px;

@mixin screen-md {
  @media (min-width: $screen-md) {
    @content;
  }
}

@mixin screen-lg {
  @media (min-width: $screen-lg) {
    @content;
  }
}

@mixin screen-xl {
  @media (min-width: $screen-xl) {
    @content;
  }
}

@mixin screen-xxl {
  @media (min-width: $screen-xxl) {
    @content;
  }
}

/* transition defaults */
$transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
$transition-duration: 275ms;

@mixin transition($transition-property, $transition-timing-function: $transition-timing-function, $transition-duration: $transition-duration) {
  transition-timing-function: $transition-timing-function;
  transition-duration: $transition-duration;
  transition-property: $transition-property;
}

/* section defaults */
@mixin section() {
  position: relative;
  padding: $space-huge * 2 0;

  @include screen-lg {
    padding: $space-huge * 4 0;
  }
}

@mixin section-accent {
  &:before {
    content: "";
    display: block;
    width: 100%;
    height: .25rem;
    background-image: linear-gradient(90deg, #ff0018 0 16.66667%, #ffa52c 16.66667% 33.33333%, #ffff41 33.33333% 50%, #008018 50% 66.66667%, #0000f9 66.66667% 83.33333%, #86007d 83.33333% 100%);
    top: 0;
    position: absolute;
  }
}

@mixin container($padding: $space-big) {
  padding: 0 $padding;
}
