@import "~normalize.scss/normalize.scss";
@import "variables";

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  font-family: $font-main;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-heading;
  letter-spacing: 1.2px;
}

#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}
