@import "~normalize.scss/normalize.scss";
@import "variables";

* {
  box-sizing: border-box;
}

body {
}

#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}
