@function gaydient-three-colors($colors, $opacity, $degrees, $chunk) {
  $sections: 3;
  $solidWidth: 100 / $sections * $chunk;
  $gradientWidth: (100 - ($solidWidth * $sections)) / ($sections - 1);

  @return linear-gradient($degrees,
    rgba(nth($colors, 1), $opacity) 0 percentage($solidWidth / 100),
    rgba(nth($colors, 2), $opacity) percentage(($solidWidth + $gradientWidth) / 100) percentage(($solidWidth * 2 + $gradientWidth) / 100),
    rgba(nth($colors, 3), $opacity) percentage(($solidWidth * 2 + $gradientWidth * 2) / 100) 100%
  );
}

@function gaydient-four-colors($colors, $opacity, $degrees, $chunk) {
  $sections: 4;
  $solidWidth: 100 / $sections * $chunk;
  $gradientWidth: (100 - ($solidWidth * $sections)) / ($sections - 1);

  @return linear-gradient($degrees,
    rgba(nth($colors, 1), $opacity) 0 percentage($solidWidth / 100),
    rgba(nth($colors, 2), $opacity) percentage(($solidWidth + $gradientWidth) / 100) percentage(($solidWidth * 2 + $gradientWidth) / 100),
    rgba(nth($colors, 3), $opacity) percentage(($solidWidth * 2 + $gradientWidth * 2) / 100) percentage(($solidWidth * 3 + $gradientWidth * 2) / 100),
    rgba(nth($colors, 4), $opacity) percentage(($solidWidth * 3 + $gradientWidth * 3) / 100) 100%
  );
}

@function gaydient-five-colors($colors, $opacity, $degrees, $chunk) {
  $sections: 5;
  $solidWidth: 100 / $sections * $chunk;
  $gradientWidth: (100 - ($solidWidth * $sections)) / ($sections - 1);

  @return linear-gradient($degrees,
    rgba(nth($colors, 1), $opacity) 0 percentage($solidWidth / 100),
    rgba(nth($colors, 2), $opacity) percentage(($solidWidth + $gradientWidth) / 100) percentage(($solidWidth * 2 + $gradientWidth) / 100),
    rgba(nth($colors, 3), $opacity) percentage(($solidWidth * 2 + $gradientWidth * 2) / 100) percentage(($solidWidth * 3 + $gradientWidth * 2) / 100),
    rgba(nth($colors, 4), $opacity) percentage(($solidWidth * 3 + $gradientWidth * 3) / 100) percentage(($solidWidth * 4 + $gradientWidth * 3) / 100),
    rgba(nth($colors, 5), $opacity) percentage(($solidWidth * 4 + $gradientWidth * 4) / 100) 100%
  );
}

@function gaydient-six-colors($colors, $opacity, $degrees, $chunk) {
  $sections: 6;
  $solidWidth: 100 / $sections * $chunk;
  $gradientWidth: (100 - ($solidWidth * $sections)) / ($sections - 1);

  @return linear-gradient($degrees,
    rgba(nth($colors, 1), $opacity) 0 percentage($solidWidth / 100),
    rgba(nth($colors, 2), $opacity) percentage(($solidWidth + $gradientWidth) / 100) percentage(($solidWidth * 2 + $gradientWidth) / 100),
    rgba(nth($colors, 3), $opacity) percentage(($solidWidth * 2 + $gradientWidth * 2) / 100) percentage(($solidWidth * 3 + $gradientWidth * 2) / 100),
    rgba(nth($colors, 4), $opacity) percentage(($solidWidth * 3 + $gradientWidth * 3) / 100) percentage(($solidWidth * 4 + $gradientWidth * 3) / 100),
    rgba(nth($colors, 5), $opacity) percentage(($solidWidth * 4 + $gradientWidth * 4) / 100) percentage(($solidWidth * 5 + $gradientWidth * 4) / 100),
    rgba(nth($colors, 6), $opacity) percentage(($solidWidth * 5 + $gradientWidth * 5) / 100) 100%
  );
}

@function gaydient-rainbow($red: #ff0018, $orange: #ffa52c, $yellow: #ffff41, $green: #008018, $blue: #0000f9, $purple: #86007d, $opacity: 1, $degrees: 180deg, $chunk: 1) {
  $colors: $red, $orange, $yellow, $green, $blue, $purple;
  
  @return gaydient-six-colors($colors, $opacity, $degrees, $chunk);
}

@function gaydient-trans($blue: #55cdfc, $pink: #f7a8b8, $white: #fff, $opacity: 1, $degrees: 180deg, $chunk: 1) {
  $colors: $blue, $pink, $white, $pink, $blue;

  @return gaydient-five-colors($colors, $opacity, $degrees, $chunk);
}

@function gaydient-enby($yellow: #fff433, $white: #fff, $purple: #9b59d0, $black: #000, $opacity: 1, $degrees: 180deg, $chunk: 1) {
  $colors: $yellow, $white, $purple, $black;

  @return gaydient-four-colors($colors, $opacity, $degrees, $chunk);
}

@function gaydient-genderqueer($lavender: #b77fdd, $white: #fff, $green: #48821e, $opacity: 1, $degrees: 180deg, $chunk: 1) {
  $colors: $lavender, $white, $green;
  
  @return gaydient-three-colors($colors, $opacity, $degrees, $chunk);
}

@function gaydient-ace($black: #000, $grey: #a4a4a4, $white: #fff, $purple: #810081, $opacity: 1, $degrees: 180deg, $chunk: 1) {
  $colors: $black, $grey, $white, $purple;

  @return gaydient-four-colors($colors, $opacity, $degrees, $chunk);
}

@function gaydient-pansexual($pink: #ff1b8d, $yellow: #ffda00, $blue: #1bb3ff, $opacity: 1, $degrees: 180deg, $chunk: 1) {
  $colors: $pink, $yellow, $blue;

  @return gaydient-three-colors($colors, $opacity, $degrees, $chunk);
}

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 32px;
}

body {
  margin: 0;
}

.boxes {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 32px;
}

.box {
  position: relative;
  width: 100%;
  box-shadow: 0 8px 16px rgba(35, 20, 29, .2);
  border-radius: 6px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-family: monospace;
  letter-spacing: 3px;
  color: rgba(35, 20, 29, 1);
  
  &:after {
    content: "";
    display: block;
    padding-bottom: 60%;
  }
  
}

.rainbow {
  background: gaydient-rainbow();
}

.rainbow-gradient {
  background: gaydient-rainbow($chunk: 0);
}

.rainbow-chunky-gradient {
  background: gaydient-rainbow($chunk: .5);
}

.trans {
  background: gaydient-trans();
}

.trans-gradient {
  background: gaydient-trans($chunk: 0);
}

.trans-chunky-gradient {
  background: gaydient-trans($chunk: .5);
}

.enby {
  background: gaydient-enby();
}

.enby-gradient {
  background: gaydient-enby($chunk: 0);
}

.enby-chunky-gradient {
  background: gaydient-enby($chunk: .5);
}

.genderqueer {
  background: gaydient-genderqueer();
}

.genderqueer-gradient {
  background: gaydient-genderqueer($chunk: 0);
}

.genderqueer-chunky-gradient {
  background: gaydient-genderqueer($chunk: .5);
}

.ace {
  background: gaydient-ace();
}

.ace-gradient {
  background: gaydient-ace($chunk: 0);
}

.ace-chunky-gradient {
  background: gaydient-ace($chunk: .5);
}

.pansexual {
  background: gaydient-pansexual();
}

.pansexual-gradient {
  background: gaydient-pansexual($chunk: 0);
}

.pansexual-chunky-gradient {
  background: gaydient-pansexual($chunk: .5);
}