.box {
  width: 100%;
  height: 140px;
  box-shadow: 0 8px 16px rgba(35, 20, 29, .2);
  border-radius: 6px;
  
  &:not(:first-child) {
    margin-top: 32px;
  }
}

@function gaydient-rainbow($red: red, $orange: orange, $yellow: yellow, $green: green, $blue: blue, $purple: purple, $opacity: 1) {
  $sections: 6;
  
  @return linear-gradient(to right,
    rgba($red, $opacity) #{100% / $sections}, 
    rgba($orange, $opacity) #{100% / $sections}, 
    rgba($orange, $opacity) #{100% / $sections * 2},
    rgba($yellow, $opacity) #{100% / $sections * 2},
    rgba($yellow, $opacity) #{100% / $sections * 3},
    rgba($green, $opacity) #{100% / $sections * 3},
    rgba($green, $opacity) #{100% / $sections * 4},
    rgba($blue, $opacity) #{100% / $sections * 4},
    rgba($blue, $opacity) #{100% / $sections * 5},
    rgba($purple, $opacity) #{100% / $sections * 5},
    rgba($purple, $opacity) 100%
  );
}

.rainbow {
  background: gaydient-rainbow();
}

@function gaydient-trans($blue: #55cdfc, $pink: #f7a8b8, $white: #fff, $opacity: 1) {
  $sections: 5;
  
  @return linear-gradient(to right,   
    rgba($blue, $opacity) #{100% / $sections}, 
    rgba($pink, $opacity) #{100% / $sections}, 
    rgba($pink, $opacity) #{100% / $sections * 2},
    rgba($white, $opacity) #{100% / $sections * 2},
    rgba($white, $opacity) #{100% / $sections * 3},
    rgba($pink, $opacity) #{100% / $sections * 3},
    rgba($pink, $opacity) #{100% / $sections * 4},
    rgba($blue, $opacity) #{100% / $sections * 4},
    rgba($blue, $opacity) 100%
  );
}

.trans {
  background: gaydient-trans();
}

@function gaydient-enby($yellow: #fff433, $white: #fff, $purple: #9b59d0, $black: #000, $opacity: 1) {
  $sections: 4;
  
  @return linear-gradient(to right,   
    rgba($yellow, $opacity) #{100% / $sections}, 
    rgba($white, $opacity) #{100% / $sections}, 
    rgba($white, $opacity) #{100% / $sections * 2},
    rgba($purple, $opacity) #{100% / $sections * 2},
    rgba($purple, $opacity) #{100% / $sections * 3},
    rgba($black, $opacity) #{100% / $sections * 3},
    rgba($black, $opacity) 100%
  );
}

.enby {
  background: gaydient-enby();
}

@function gaydient-genderqueer($lavender: #b77fdd, $white: #fff, $green: #48821e, $opacity: 1) {
  $sections: 3;
  
  @return linear-gradient(to right,   
    rgba($lavender, $opacity) #{100% / $sections}, 
    rgba($white, $opacity) #{100% / $sections}, 
    rgba($white, $opacity) #{100% / $sections * 2},
    rgba($green, $opacity) #{100% / $sections * 2},
    rgba($green, $opacity) 100%
  );
}

.genderqueer {
  background: gaydient-genderqueer();
}
