@import '../../variables';
@import '../../gaydients';

.cookie-banner {
  @include section;
  background-color: $color-dark;
  color: $color-lite;
  @include transition(background-color, padding, height);
  @include section-accent;
  padding: $space-big 0;
  $font-family: $font-heading;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  body.is-scrolled & {
    background-color: transparent;
    color: $color-dark;
    height: 4rem;

    padding: $space 0;
    @include screen-lg {
      padding: $space 0;
    }

    ~.footer {
      margin-bottom: 4rem;
    }
  }

  ~ .footer {
    margin-bottom: 5rem;
  }

  @include screen-lg {
    padding: $space-huge 0;
  }

  margin-bottom: 0;
  width: 100%;
  color: $color-dark;

  position: fixed;
  bottom: 0;
  z-index: 1;

  &__container {
    @include container;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__text {
    flex: 1;
    color: $color-lite;
    @include transition(color);

    body.is-scrolled & {
      color: $color-dark;
    }
  }

  &__ctas {
    flex: 1;
    margin-left: 1em;
    display: flex;
    justify-content: flex-end;
  }

  &__cta {
    color: $color-lite;
    border: 0;
    background: transparent;
    padding: .25em .5em;
    cursor: pointer;
    @include transition(color);

    &:not(:first-child) {
      margin-left: 1em;
    }

    body.is-scrolled & {
      color: $color-dark;
    }
  }
}

.cookie-explanation {
  font-size: .8em;
  margin-bottom: 0;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 1;
  background-color: $color-dark;
  color: $color-lite;
  @include transition(background-color, padding);
  padding: .5rem 1.5rem;
  display: flex;
  align-items: center;
  height: 2rem;

  body.is-scrolled & {
    background-color: transparent;
    color: $color-dark;
  }

  ~ .footer {
    margin-bottom: 7rem;

    body.is-scrolled & {
      margin-bottom: 6rem;
    }
  }

  ~ .cookie-banner {
    bottom: $space-big;
  }
}
