@import '../../variables';

.hero {
  $h: &;
  @include section();
  background-color: $color-lite;

  body.is-scrolled & {
    &:before {
      content: "";
      display: block;
      width: 100%;
      padding-top: 9rem;
    }

    #{$h}__title {
      position: fixed;
      top: 0;
      left: $space-big;
      z-index: 5;
      font-size: 2rem;
      @include transition(all);
    }
  }

  &__container {
    @include container;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    font-size: 5rem;
    margin: 2rem 0;
    @include rainbow-text;
  }

  &__text {
    text-align: center;
  }

  pre {
    padding: $space $space-big;
    background-color: #F4F4F6;
  }
}
