@import '../../variables';

.card {
  position: relative;
  width: 100%;
  box-shadow: 0 8px 16px rgba(35, 20, 29, .2);
  border-radius: 6px;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-family: monospace;
  letter-spacing: 3px;
  color: rgba(35, 20, 29, 1);

  &:after {
    content: "";
    display: block;
    padding-bottom: 60%;
  }

  &__container {
  }
}
