@import '../../variables';

.card {
  $c:&;
  position: relative;
  width: 100%;
  box-shadow: $color-grey-box-shadow;
  border-radius: 6px;
  letter-spacing: 3px;
  color: rgba(35, 20, 29, 1);
  overflow: hidden;
  background-color: $color-grey;
  @include transition(box-shadow);

  &:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  &__container {
    position: absolute;
    padding: $space;
    width: 100%;
    height: 100%;
    @include transition(opacity);
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  &__copy {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    display: flex;
    padding: 0;
    background-color: transparent;
    text-decoration: none;
    color: inherit;
    opacity: .7;
    @include transition(opacity);

    &:hover,
    &:focus {
      opacity: 1;
    }
  }

  &__title {
    position: absolute;;
    bottom: 0;
    left: 0;
  }

  &__flag {
    position: relative;
    width: 100%;
    border-radius: 3px;

    &:after {
      content: "";
      display: block;
      padding-bottom: 60%;
    }
  }

  &#{$c}--with-bar {
      #{$c}__bar {
        opacity: 1;
        width: 100%;
      }
  }

  &__bar {
    width: 0%;
    height: 2px;
    background-color: black;
    position: absolute;
    bottom: 0;
    opacity: 0;
    @include transition(width);
  }

  &:hover {
    box-shadow: $color-grey-box-shadow-hover;

    #{$c}__container {
      opacity: 1;
    }
  }
}
