@import '../../variables';

.hero {
  $h: &;
  @include section();
  background-color: $color-lite;

  body.is-scrolled & {
    &:before {
      content: "";
      display: block;
      width: 100%;
      padding-top: 9rem;
    }

    #{$h}__title {
      position: fixed;
      top: 0;
      left: $space-big;
      z-index: 5;
      font-size: 2rem;
      @include transition(all);
    }
  }

  &__container {
    @include container;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    font-size: 5rem;
    margin: 2rem 0;
    background-image: linear-gradient(90deg, #ff0018 0 16.66667%, #ffa52c 16.66667% 33.33333%, #ffff41 33.33333% 50%, #008018 50% 66.66667%, #0000f9 66.66667% 83.33333%, #86007d 83.33333% 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__text {
    text-align: center;
  }
}
